<a href="https://colab.research.google.com/github/rimoucha2022/rimoucha/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import test as tst
tst.print_text()
print(tst.find_log(16))
print(tst.find_exp(16))

This message is from an external module
2.772588722239781
8886110.520507872

In [ ]:
from test import find_log
print(find_log(16))

2.772588722239781

In [ ]:
from test import find_log,find_exp
print(find_log(16))
print(find_exp(16))

2.772588722239781
8886110.520507872

In [ ]:
import sys
sys.path.append('C:\Datasets')
sys.path
from test2 import find_sqrt
print(find_sqrt(16))

256

In [1]:
def sum_of_list(numbers):
  return sum(numbers)
def average(sum, n):
  return sum / n
def final_data(data):
for item in data:
print("Average:", average(sum_of_list(item), len(item)))
list1 = [10, 20, 30, 40, 50]
list2 = [100, 200, 300, 400, 500]
# empty list
list3 = []
lists = [list1, list2, list3]
final_data(lists)

IndentationError: ignored

In [22]:
a = 1
strs = "hello"
def func(a):
    res = str(a) + strs
    print(res)
    return res
b=func(4)

4hello

In [29]:
a = 1
strs = "hello"
def func(a):
  try:
    res = a + strs
    print(res)
    return res
  except TypeError:
    print("il faut mettre une chaine de caractère  ")
  finally:
    res = str(a) + strs
b=func(4)

il faut mettre une chaine de caractère

In [37]:
#Exercice N° 3
var = 10
def test_func():
  global var
  var += 1
  print(var)
test_func()

11

In [39]:
#Exercice N° 3
var = 10
def test_func(var):
  var += 1
  print(var)
test_func(12)

13

In [70]:
score=150
#while i not in range(0,100):
while score < 0 or score > 100:
  score = int(input("Enter your score between 0 and 100: "))
def calculate_level(score):
  if score > 90:
    level = 'expert'
  elif score > 70:
    level = 'advanced'
  elif score > 55:
    level = 'intermediate'
  else:
    level ='debutant'
  return level
print(f'Your level is: {calculate_level(score)}')

Enter your score between 0 and 100: -1
Enter your score between 0 and 100: 20
Your level is: debutant

In [77]:
#Exercice N° 1 Ecrire un code en Python qui permet de définir une fonction pour chercher la valeur maximales parmi les éléments d’une liste d’entiers.
list20=[2,50,98,67,101,-2]
i=0
while i < (len(list20)-1):
  if list20[i]>list20[i+1]:
    Max1=list20[i]
  else:
    Max1=list20[i+1]
  i=i+1
print(Max1)

101

In [89]:
liste11=['ma', 'dodo', 'soap','test','f','3','dad','re']
liste22=[]
i=0
while i < (len(liste11)):
  if (len(liste11[i]) > 2 or len(liste11[i]) == 2):
    liste22.append(liste11[i])
  i=i+1
print(liste22)
liste33=[]
i=0
while i < (len(liste11)):
  ch1=liste11[i]
  if len(ch1)!=1 and ch1[0]==ch1[len(ch1)-1]:
    liste33.append(liste11[i])
  i=i+1
print(liste33)

['ma', 'dodo', 'soap', 'test', 'dad', 're']
['test', 'dad']

In [98]:
#Exercice N° 2 Écrivez un programme Python qui contient une fonction permettant de compter le nombre de chaînes dont la taille au moins est égale à 2
liste11=['ma', 'dodo','mom','soap','test','f','3','dad','re']
liste22=[]
i=0
while i < (len(liste11)):
  ch1=liste11[i]
  if (len(liste11[i]) >= 2) and ch1[0]==ch1[-1]:
    liste22.append(liste11[i])
  i=i+1
print(liste22)

['mom', 'test', 'dad']

In [113]:
#Exercice N° 3 Ecrire un code Python qui permet de supprimer toutes les valeurs multiples dans une liste donnée et ne garder qu’une seule occurrence.
liste12=['dodo', 'dodo','mom','dodo','test','f','3','dad','re']
liste11
i=0
y=len(liste12)
while i < (len(liste11)):
  while y>0:
    if liste12[i]==liste12[y-1]:
      del liste12[i]
    y=y-1
  i=i+1
print(liste12)

['dodo', 'test', 'f', '3', 'dad', 're', 'dad']

In [123]:
#Dictionnaire
d=dict()
n=6
i=0
while i < n:
  d[i]=i*i
  i=i+1
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}